{{ define "contacts" }}

{{ template "header" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Моя Web страница</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link " aria-current="page" href="/">Главная</a>
                <a class="nav-link active" href="/contacts/">Контакты</a>
                <a class="nav-link" href="/different/">Разное</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Контакты</h1>
        <p class="lead">Имя: {{ .Name }} <br> Адрес: {{ .Address }} <br> E-mail: {{ .EMail }}</p>

    </main>
</div>

{{ template "footer" }}

{{ end }}
