{{ define "index" }}

{{ template "header" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Моя Web страница</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                <a class="nav-link" href="/contacts/">Контакты</a>
                <a class="nav-link" href="/different/">Разное</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Главная страница</h1>


        <p class="lead">
            Мой первый web сайт написанный на языке Go
        </p>

        <h6><I>25 июня 2021 года</I></h6>
    </main>

    <img src="data:image/png;base64, {{.}}">

</div>

{{ template "footer" }}

{{ end }}




